*
{
	margin:0;
}
@keyframes body  {
  0% {margin-top: 150%;}
  60% {margin-top: -5%;}
  100% {margin-top: 0%;}
}
body{
  background-color: black;
  font-family: Dancing Script;
	color: white;
	animation: body 1s;
  position: relative;
}
#Contenido{
  width: 900px;
  margin: 0 auto;
  min-height: 200px;

}
header{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	text-shadow: 2px 2px #02010a;

}
header h1{
  text-align: left;
  color: white;
  text-shadow: 2px 2px #02010a;
  height: 15%;
}
#enlaces{
  text-align: right;
}

a {
  color: white;
  text-decoration: underline;
}
img{
    width: 100%;
}
#imagen-principal{
   background-color: #82c3a6;
   padding: 20px;
}
#seccion-secundaria{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}

.imagen-secundaria{
  width: 50%;
	text-align: center;
	box-sizing: border-box;
	padding: 0 15px;
}
.montañas{
	border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
#secundaria{
	display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}
.columna-secundaria{
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.vicu1{
  filter: blur(10px);
  -webkit-filter: blur(10px)
}
.vicu2 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.vicu4{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.vicu6{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.vicu3{
  filter: sepia(90%);
}

.vicuñas{
	border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
.montañas:hover{
	transform: rotate(10deg);
}
.vicuñas:hover{
  transform: translate(20px, -5px);
}
footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #C6d5c5;
  display:-webkit-flex;
	display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 15px 0;
	color: black;

}
footer .columna{
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
}
.icon-social{
  width: 25px;
}
}
@media screen (max-width: 900px){
	#Contenido{
		width: 100%;
		margin: 0 auto;
		display:-webkit-flex;
		display:flex;
		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		flex-direction:column;
		padding-bottom:0 auto;

	}
	#titulo, #enlaces{
		width: 100%;
		text-align: center;
	}
	.imagen-secundaria{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.columna-secundaria{
		width: 100%;
	}
	footer .columna{
		width: 100%;
		margin: 0 auto;
		display:-webkit-flex;
		display:flex;
		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		flex-direction:column;
		padding-bottom:0 auto;
	}
}
